<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-menu-button>
        <ion-searchbar></ion-searchbar>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding"> </ion-content>
  <app-explore-container name="Tab 2 page"></app-explore-container>
</div>
