<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Feed </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment value="default">
    <ion-segment-button value="default">
      <ion-label>Para ti</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Siguiendo</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-tweet
    [idUser]="'@juliograterolb'"
    [content]="'Hola Mundo!'"
    [createdAt]="'2019-01-16'"
  ></app-tweet>
</ion-content>
