<ion-content [fullscreen]="true">
  <!-- Perfil de Usuario -->
  <my-profile></my-profile>
  <!-- Historial de Perfil -->

  <div *ngIf="tweets">
    <div *ngFor="let tweet of tweets">
      <div class="tweet">
        <div class="tweetBy">
          <!-- <img [src]="profilePicture" /> -->
          <strong>{{ tweet.idUser.fullName }}</strong>
          <p>
            &nbsp;<a>@{{ tweet.idUser.username }}</a> · {{ tweet.createdAt }}
          </p>
        </div>
        <p>{{ tweet.content }}</p>
        <div class="options">
          <button (click)="LikeTweet(tweet._id, tweet.isLiked)">
            <ion-icon
              *ngIf="tweet.isLiked; else notLiked"
              name="heart"
              style="color: red"
            ></ion-icon
            >{{tweet.likes}}
          </button>
          <button>
            <ion-icon name="chatbubble-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ng-template #notLiked>
  <ion-icon name="heart-outline"></ion-icon>
</ng-template>
