<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Perfil de Usuario -->
  <my-profile></my-profile>
  <!-- Historial de Perfil -->

  <div *ngIf="tweets">
    <div *ngFor="let tweet of tweets">
      <div class="tweet">
        <div class="tweetBy">
          <img [src]="tweet.idUser.profilePicture" />
          <strong>{{ tweet.idUser.fullName }}</strong>
          <img
            *ngIf="tweet.idUser.isVerified"
            src="https://cdn-icons-png.flaticon.com/512/5253/5253963.png"
            height="15"
            width="15"
          />
          <p>
            &nbsp;<a>@{{ tweet.idUser.username }}</a> · {{ tweet.createdAt }}
          </p>
        </div>
        <p>{{ tweet.content }}</p>
        <div class="grid-container">
          <div *ngFor="let imageUrl of tweet.attachmentUrls" class="grid-item">
            <img [src]="imageUrl" alt="Tweet Image" />
          </div>
        </div>
        <div class="options">
          <button (click)="LikeTweet(tweet._id, tweet.isLiked)">
            <ion-icon
              *ngIf="tweet.isLiked; else notLiked"
              name="heart"
              style="color: red"
            ></ion-icon
            >{{tweet.likes}}
          </button>
          <button (click)="goToTweet(tweet._id)">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ng-template #notLiked>
  <ion-icon name="heart-outline"></ion-icon>
</ng-template>
