<ion-content [fullscreen]="true">
  <button class="back" (click)="goBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </button>
  <div class="tweet">
    <div class="tweetBy">
      <img [src]="user?.profilePicture" />
      <strong>{{ user?.fullName }}</strong>
      <img
        *ngIf="user?.isVerified"
        src="https://cdn-icons-png.flaticon.com/512/5253/5253963.png"
        height="15"
        width="15"
      />
      <p>&nbsp;<a>@{{ user?.username }}</a> · {{ tweet.createdAt }}</p>
    </div>
    <p>{{ tweet.content }}</p>
    <div class="options">
      <button (click)="LikeTweet(tweet._id, tweet.isLiked)">
        <ion-icon
          *ngIf="tweet.isLiked; else notLiked"
          name="heart"
          style="color: red"
        ></ion-icon
        >{{ tweet.likes }}
      </button>
    </div>
  </div>
  <ion-footer>
    <ion-input></ion-input>
  </ion-footer>
</ion-content>

<ng-template #notLiked>
  <ion-icon name="heart-outline"></ion-icon>
</ng-template>
