<ion-content [fullscreen]="true">
  <button class="back" (click)="goBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </button>
  <div>
    <div>
      <strong>{{ userInfo?.fullName }} </strong>

      <!-- Mostrar la imagen solo si isVerified es verdadero -->
      <img
        *ngIf="userInfo?.isVerified"
        src="https://cdn-icons-png.flaticon.com/512/5253/5253963.png"
        height="15"
        width="15"
      />

      <p>@{{ userInfo?.username }}</p>
      <p>{{ userInfo?.bio }}</p>
      <div>
        {{ userInfo?.following }} Siguiendo {{ userInfo?.followers }} Seguidores
      </div>
    </div>
  </div>

  <div *ngIf="tweets">
    <div *ngFor="let tweet of tweets">
      <div class="tweet">
        <div class="tweetBy">
          <!-- <img [src]="profilePicture" /> -->
          <strong>{{ tweet.idUser.fullName }}</strong>
          <p>
            &nbsp;<a>@{{ tweet.idUser.username }}</a> · {{ tweet.createdAt }}
          </p>
        </div>
        <p>{{ tweet.content }}</p>
        <div class="options">
          <button (click)="LikeTweet(tweet._id, tweet.isLiked)">
            <ion-icon
              *ngIf="tweet.isLiked; else notLiked"
              name="heart"
              style="color: red"
            ></ion-icon>
          </button>
          <button>
            <ion-icon name="chatbubble-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ng-template #notLiked>
  <ion-icon name="heart-outline"></ion-icon>
</ng-template>
