<ion-header>
  <ion-segment value="global" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="global">
      <ion-label>Global</ion-label>
    </ion-segment-button>
    <ion-segment-button value="following">
      <ion-label>Siguiendo</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="tweets && tweets.length > 0; else noTweets">
    <div *ngFor="let tweet of tweets">
      <app-tweet
        [content]="tweet.content"
        [username]="tweet.idUser.username"
        [fullName]="tweet.idUser.fullName"
        [createdAt]="tweet.createdAt"
      ></app-tweet>
    </div>
  </ng-container>

  <ng-template #noTweets>
    <div class="center">
      <p>No hay tweets disponibles,</p>
      <a (click)="startFollowing()">Comienza a seguir usuarios!</a>
    </div>
  </ng-template>
</ion-content>

<new-tweet></new-tweet>
